/* die einstellungen für Content könnte hier rein und beim 
responsiv design auch gleich die contentbegrenzug
weil die ist ja auch überall gleich*/

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    scroll-behavior: smooth;
}

/*--------HEADER--------*/

/* ######################### HEADER ######################### */
header {
    background-color: var(--primary-green);
    display: flex;

    color: var(--font-color);
    width: 100%;
    gap: 70px;
    height: 128px;

    align-items: center;


    padding: 60px 120px;
}

.navbar-header {
    display: flex;
    gap: 72px;
}

.navbar-header a {
    color: var(--font-color);
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Arima';
    font-style: normal;
    font-weight: 700;

    transition: 0.3s color ease-in-out;

    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;

}

.navbar-header a:active {
    color: var(--primary-yellow);
    transition: color 0s;

}

.navbar-header a:hover {
    background-image: url('../assets/img/highlights.svg');
}


.logo img {
    width: 72px;
    height: 72px;
}

/*--------HEADER--------*/


/*--------FOOTER--------*/


/* ######################### FOOTER ######################### */


footer {
    width: 100%;
    background-color: var(--primary-green);
    display: flex;
    color: var(--font-color);
    gap: 70px;

    /* ÄNDERUNG: min-height statt height nutzen & border-box hinzufügen */
    min-height: 152px;
    box-sizing: border-box;

    align-items: center;
    justify-content: space-between;
    padding: 60px 120px;
}



.navbar-footer a {
    color: var(--font-color);
    text-decoration: none;
    font-size: 1em;
    font-family: 'Arima';

    display: flex;
    flex-direction: row;

    gap: 8px;
    align-items: center;
    white-space: nowrap;
}

.navbar-footer {
    display: flex;
    gap: 72px;
    align-items: center;
}

footer img {
    height: 32px;
    width: 32px;
}

.navbar-footer>img {
    width: 24px;
    height: 24px;
}

.social-icons {
    display: flex;
    gap: 16px;
}

.youtube {
    width: 44px;
    height: 32px;
}

.both-navbars {
    display: flex;
    flex-direction: column;
}

.navbar-mobile {

    display: flex;
    background-color: var(--primary-yellow);
    width: 100%;
    padding: 24px 25px;
    gap: 48px;

    justify-content: center;

}

.navbar-mobile img {
    width: 40px;
    height: 40px;

}


/*--------FOOTER--------*/

h3 {
    color: var(--secondary-brown);
    font-size: 32px;
    font-family: 'Arima';
    font-weight: 600;


    display: flex;
    justify-content: center;
}

p,
ul li,
ol li {
    font-size: 24px;
    font-family: 'Palanquin';
    font-weight: 400;
    line-height: 1.4;

}

@media screen and (min-width: 1440px) {

    header {
        padding: 60px max(120px, calc(50% - 720px));
    }

    footer {
        padding: 60px max(120px, calc(50% - 720px));
    }

}


@media screen and (min-width:768px)  {
    .navbar-mobile {
        display: none;
    }

}

@media screen and (min-width:768px) and (max-width: 960px) {

    footer {
        align-items: end;
    }

    .navbar-footer {
        flex-direction: column;
        gap: 8px;
        align-items: start;
    }


}

@media screen and (min-width:480px) and (max-width: 767px) {

    .navbar-header {
        display: none;
    }

    header {
        justify-content: center;
        height: 70px;
        padding: 0 24px;
    }

    /*  zentriert das Logo horizontal  */
    .logo {
        display: flex;
        align-items: center;
    }


    .logo img {
        width: 56px;
        height: 56px;
    }


    .navbar-footer {
        flex-direction: column;
        gap: 8px;
        align-items: start;
    }

    footer {
        align-items: end;
        padding: 60px;
    }


    footer img {
        height: 24px;
        width: 24px;
    }

    .youtube {
        width: 37px;
        height: 24px;
    }




}

@media screen and (min-width: 320px) and (max-width: 480px) {


    footer img {
        height: 24px;
        width: 24px;
    }

    .youtube {
        width: 37px;
        height: 24px;
    }

    .mobile-navbar {
        display: block;
    }


}