* {
    box-sizing: border-box;
    
    margin: 0;
    padding: 0;

    scroll-behavior: smooth;
}

/* ######################### article01 style ######################### */

#article01 {
    background-color: var(--primary-gelb);
}

.carousel-slider {
    /* background-color: rgba(255, 255, 255, 0.001); */
    background-color: black;
    height: 440px;

    display: flex;
    
    /* gap: 1%; */
}

.carousel-slider-element {
    z-index: 1;

    display: flex;
    /* justify-content: center; */
    /* align-items: center; */

    width: 200px;
    /* height: auto; */
    
    padding: 2%;
    
    transform: perspective(250px) rotateY(20deg) translateX(-20px);
    transform-origin: 50% 50%;

    transition: all 255ms ease-in-out;
}

.carousel-slider-element img {
    /* opacity: 0.5; */
    border-radius: 40px;
    
    width: 300px;
    /* height: auto; */
    padding: 2%;
}

.carousel-slider-element:hover {
    z-index: 2;
    
    transform: perspective(250px) rotateY(0deg) translateX(0px) scaleX(1.5) scaleY(1.2);
}

.carousel-slider-element:hover img {
    width: 200px;

    /* padding: 2%; */
}

.carousel-slider-element:hover~.carousel-slider-element {
    transform: perspective(250px) rotateY(-20deg) translateX(20px);
}

.carousel-slider-element:hover~.carousel-slider-element img {
    width: 200px;
    /* padding: 2%; */
}