* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  scroll-behavior: smooth;
}

/* ######################### HEADER ######################### */
header {
  background-color: var(--primary-green);
  display: flex;

  color: var(--font-color);
  gap: 70px;
  height: 128px;
  justify-content: flex-start;
  align-items: center;


  padding-left: 146px
}

.navbar-header {
  display: flex;
  gap: 72px;
}

.navbar-header a {
  color: var(--font-color);
  text-decoration: none;
  font-size: 1.5em;
  font-family: 'Arima';
  font-style: normal;
  font-weight: 700;
}


header img {
  height: 72px;
  width: 72px;

}

.sub-header {
  width: 100%;
  background-color: var(--primary-yellow);
  height: 533px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ######################### article01 style ######################### */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#article01 {
  background-color: var(--primary-gelb);
}

.carousel-slider {
  /* background-color: rgba(255, 255, 255, 0.001); */
  background-color: black;
  height: 440px;

  display: flex;

  /* gap: 1%; */
}

.carousel-slider-element {
  z-index: 1;

  display: flex;
  /* justify-content: center; */
  /* align-items: center; */

  width: 200px;
  /* height: auto; */

  padding: 2%;

  transform: perspective(250px) rotateY(20deg) translateX(-20px);
  transform-origin: 50% 50%;

  transition: all 255ms ease-in-out;
}

.carousel-slider-element img {
  /* opacity: 0.5; */
  border-radius: 40px;

  width: 300px;
  /* height: auto; */
  padding: 2%;
}

.carousel-slider-element:hover {
  z-index: 2;

  transform: perspective(250px) rotateY(0deg) translateX(0px) scaleX(1.5) scaleY(1.2);
}

.carousel-slider-element:hover img {
  width: 200px;

  /* padding: 2%; */
}

.carousel-slider-element:hover~.carousel-slider-element {
  transform: perspective(250px) rotateY(-20deg) translateX(20px);
}

.carousel-slider-element:hover~.carousel-slider-element img {
  width: 200px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ####################### landing page slider ####################### */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.content {
  display: flex;
  flex-direction: column;
  gap: 120px;
  margin: 120px;

}

.highlights {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 88px;
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header>p {
  font-family: 'Palanquin';
  font-size: 24px;
  font-weight: 500;
  line-height: 110%;
  text-align: center;

  color: #54370D;
}


.icon-header {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.icon-header>h2 {
  font-family: 'Arima';
  font-weight: 700;
  font-size: 52px;
  line-height: 120%;

  color: var(--primary-green);
}

.icon-header>img {
  width: 48px;
  height: 48px;
}

.slider-a {
  width: 100%;
  height: 533px;
  border-top-right-radius: 100px;


  display: flex;
  justify-content: center;
  position: relative;


  align-items: flex-end;
  overflow: hidden;
}

.slider-a input {
  z-index: 2;
}

.slider-a-wrapper {
  z-index: 1;
  width: 300%;
  height: 100%;

  position: absolute;

  display: flex;

  transition: all 1s ease-in-out;
}


.slider-a-element {
  width: calc(100% / 3);
  height: 100%;
  position: relative;

  background-size: cover;
  background-position: center;
}

.element-one {
  background-image: url(../assets/img/woman-walking-on-beach.jpg);
}

.element-two {
  background-image: url(../assets/img/scandinavia.jpg);
}

.element-three {
  background-image: url(../assets/img/pattaya.jpg);
}


.slider-a input[value="one"]:checked~.slider-a-wrapper {
  transform: translate(calc(100% / 3));
}


.slider-a input[value="two"]:checked~.slider-a-wrapper {
  transform: translate(0);
}


.slider-a input[value="three"]:checked~.slider-a-wrapper {
  transform: translate(calc(-100% / 3));
}

.slider-a input {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  outline: none;
  width: 28px;
  height: 28px;
  border-radius: 14px;
  background-color: #ffffff;
  margin: 0 11px 44px 11px;
  cursor: pointer;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.slider-a input:checked {
  width: 40px;
  height: 28px;
  border-radius: 20px;
  background-color: var(--primary-yellow);
}

.textblock {
  position: absolute;
  transform: translateZ(0);

  width: 75%;

  display: flex;
  flex-direction: column;
  gap: 8px;

  top: 54px;
  left: 38px;

  padding: 16px 24px;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);


  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}


.textblock>h3 {
  font-family: 'Palanquin Dark';

  font-size: 48px;
  font-weight: 600;
  line-height: 100%;

  color: #ffffff;
}


.textblock>p {
  font-family: 'Palanquin';

  font-size: 28px;
  font-weight: 400;
  line-height: 110%;

  color: #ffffff;
}

.slide-link {
  display: block;
  width: 100%;
  height: 100%;
}

/* ######################### HEADER ######################### */


footer {
  background-color: var(--primary-green);
  display: flex;

  color: var(--font-color);
  gap: 70px;
  height: 152px;

  align-items: center;
  justify-content: space-between;

  padding: 60px 120px;

}

.footer {
  align-items: center;
}


.navbar-footer a {
  color: var(--font-color);
  text-decoration: none;
  font-size: 1;
  font-family: 'Arima';

  display: flex;

  gap: 8px;
  align-items: center;
}

.navbar-footer {
  display: flex;
  gap: 72px;
  align-items: center;
}

footer img {
  height: 32px;
  width: 32px;
}

.navbar-footer>img {
  width: 24px;
  height: 24px;
}

.social-icons {
  display: flex;
  gap: 16px;
}

.youtube {
  width: 44px;
  height: 32px;
}

/* ######################### SHARE SECCTION ######################### */

.share-section{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  

  width: 463px;
  gap: 48px;
}

.share-section > p{
  font-family: 'Arima';
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;

  text-align: center;

  color: #54370D;
}

.share-section > img{
  position: absolute;
  bottom: 0;
  left: 0;
}





/* ######################### SHARE ICON ######################### */

.share-wrapper {
  display: flex;
  align-items: center;
  gap: 7px;
  height: 54px;
}


/* Checkbox verstecken */
#share-toggle {
  display: none;
}


/* Dein bisheriger Button */
.icon-btn {
  font-family: 'Arima';
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;

  color: var(--primary-yellow);

  width: fit-content;
  height: 48px;

  display: flex;
  align-items: center;
  gap: 8px;

  padding: 0px 24px;

  background-color: var(--primary-green);
  border: none;
  border-radius: 40px;

  cursor: pointer;
}


/* Bereich rechts */
.share-expanded {
  height: 54px;
  display: none;
  align-items: center;
  gap: 8px;
}


/* Nach Klick anzeigen */
#share-toggle:checked ~ .share-expanded {
  display: flex;
}


/* Nur das Icon im Share-Button verschwinden lassen */
#share-toggle:checked + .icon-btn .share-icon {
  display: none;
}


/* Links */
.share-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.share-links a {
  font-family: 'Arima';
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;

  color: var(--primary-green);

  text-decoration: underline;
}

.share-links a:hover {
  font-weight: 700;
}