* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    scroll-behavior: smooth;
}

/* ######################### HEADER ######################### */
header {
    background-color: var(--primary-green);
    display: flex;

    color: var(--font-color);
    gap: 70px;
    height: 128px;
    justify-content: flex-start;
    align-items: center;


    padding-left: 146px
}

.navbar-header {
    display: flex;
    gap: 72px;
}

.navbar-header a {
    color: var(--font-color);
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Arima';
    font-style: normal;
    font-weight: 700;
}


header img {
    height: 72px;
    width: 72px;

}

.sub-header {
    width: 100%;
    background-color: var(--primary-yellow);
    height: 533px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ######################### article01 style ######################### */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#article01 {
    background-color: var(--primary-gelb);
}

.carousel-slider {
    /* background-color: rgba(255, 255, 255, 0.001); */
    background-color: black;
    height: 440px;

    display: flex;

    /* gap: 1%; */
}

.carousel-slider-element {
    z-index: 1;

    display: flex;
    /* justify-content: center; */
    /* align-items: center; */

    width: 200px;
    /* height: auto; */

    padding: 2%;

    transform: perspective(250px) rotateY(20deg) translateX(-20px);
    transform-origin: 50% 50%;

    transition: all 255ms ease-in-out;
}

.carousel-slider-element img {
    /* opacity: 0.5; */
    border-radius: 40px;

    width: 300px;
    /* height: auto; */
    padding: 2%;
}

.carousel-slider-element:hover {
    z-index: 2;

    transform: perspective(250px) rotateY(0deg) translateX(0px) scaleX(1.5) scaleY(1.2);
}

.carousel-slider-element:hover img {
    width: 200px;

    /* padding: 2%; */
}

.carousel-slider-element:hover~.carousel-slider-element {
    transform: perspective(250px) rotateY(-20deg) translateX(20px);
}

.carousel-slider-element:hover~.carousel-slider-element img {
    width: 200px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ####################### landing page slider ####################### */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.content {
    display: flex;
    flex-direction: column;
    gap: 120px;
    margin: 120px;

}

.highlights {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 88px;
}

.header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header>p {
    font-family: 'Palanquin';
    font-size: 24px;
    font-weight: 500;
    line-height: 110%;
    text-align: center;

    color: #54370D;
}


.icon-header {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
}

.icon-header>h2 {
    font-family: 'Arima';
    font-weight: 700;
    font-size: 52px;
    line-height: 120%;

    color: var(--primary-green);
}

.icon-header>img {
    width: 48px;
    height: 48px;
}

/*Carousel Landing Page */

.carousel {
    position: relative;
    width: 100%;
    height: 533px;
    overflow: hidden;

    border-top-right-radius: 100px;
}


/* Radio Buttons verstecken */

.carousel input {
    display: none;
}


/* Slides */

.slides {
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 0.4s ease;
}

.slide {
    position: relative;
    width: 33.333%;
    height: 100%;
    flex-shrink: 0;

    background-size: cover;
    background-position: center;
}


/* Hintergrundbilder */

.slide1 {
    background-image: url("../assets/img/woman-walking-on-beach.jpg");
}

.slide2 {
    background-image: url("../assets/img/scandinavia.jpg");
}

.slide3 {
    background-image: url("../assets/img/pattaya.jpg");
}


/* Text */

.textblock {
    position: absolute;
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 8px;

    top: 54px;
    left: 38px;

    padding: 16px 24px;

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.textblock>h3 {
    font-family: 'Palanquin Dark';
    font-size: 48px;
    font-weight: 600;
    line-height: 100%;

    color: #ffffff;
}

.textblock>p {
    font-family: 'Palanquin';
    font-size: 28px;
    font-weight: 400;
    line-height: 110%;

    color: #ffffff;
}


/* Slide wechseln */

#slide1:checked~.slides {
    transform: translateX(0);
}

#slide2:checked~.slides {
    transform: translateX(-33.333%);
}

#slide3:checked~.slides {
    transform: translateX(-66.666%);
}


/* Dots */

.dots {
    position: absolute;
    left: 50%;
    bottom: 24px;

    transform: translateX(-50%);

    display: flex;
    gap: 8px;
}

.dots label {
    width: 24px;
    height: 24px;

    border-radius: 50%;
    background: white;

    cursor: pointer;

    transition: width 0.3s ease, background 0.3s ease;
}


/* Aktiver Dot */

#slide1:checked~.dots label:nth-child(1),
#slide2:checked~.dots label:nth-child(2),
#slide3:checked~.dots label:nth-child(3) {
    width: 40px;
    border-radius: 20px;
    background: #FFD400;
}





/* ######################### HEADER ######################### */


footer {
    background-color: var(--primary-green);
    display: flex;

    color: var(--font-color);
    gap: 70px;
    height: 152px;

    align-items: center;
    justify-content: space-between;

    padding: 60px 120px;

}

.footer {
    align-items: center;
}


.navbar-footer a {
    color: var(--font-color);
    text-decoration: none;
    font-size: 1;
    font-family: 'Arima';

    display: flex;
    
    gap: 8px;
    align-items: center;
}

.navbar-footer {
    display: flex;
    gap: 72px;
    align-items: center;
}

footer img {
    height: 32px;
    width: 32px;
}

.navbar-footer>img {
    width: 24px;
    height: 24px;
}

.social-icons {
    display: flex;
    gap: 16px;
}

.youtube {
    width: 44px;
    height: 32px;
}